.base {
    width: 48px;
    height: 48px;
    background: url("/images/block.gif");
    display: flex;
    margin: 24px;
    position: relative;
    outline: none;
    border: none;
    -webkit-appearance: none;

    &:hover {
        cursor: pointer;
    }

    &:after {
        content: "";
        width: 48px;
        height: 48px;
        position: absolute;
        z-index: -1;
        transform: translateY(0px);
        transition: transform 0.3s;
        background-repeat: no-repeat;
    }
}

.active {
    background: url("/images/block-used.png") center;

    &:after {
        transform: translateY(-48px);
    }
}

.interactive {
    @media (pointer: fine) {
        &:hover {
            &:after {
                transform: translateY(-48px);
            }
        }
    }
}

.rock {
    &:after {
        background: url("/images/rock.png") center;
    }
}

.paper {
    &:after {
        background: url("/images/paper.png") center;
    }
}

.scissors {
    &:after {
        background: url("/images/scissors.png");
    }
}