.base {
    height: 64px;
    background: url("/images/scenery/ground_block.png") center top;
    background-size: 48px;
    width: 100%;
    margin-top: auto;
    align-self: flex-end;
    position: relative;

    &:before {
        content: '';
        height: 60px;
        display: flex;
        position: absolute;
        bottom: 64px;
        width: 100%;
        z-index: -1;
        background: url("/images/scenery/foliage.png") center bottom;
    }
}