.base {
    padding: 15px 0 0 0;
    color: var(--text);
    font-family: var(--main-font);
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 3px;

    @media screen and (max-width: 800px) {
        font-size: 1.6rem;
    }

    @media screen and (max-width: 525px) {
        font-size: 1.4rem;
    }
}

.high_score {
    padding-top: 40px;
    text-align: center;
}

.coin {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    span {
        font-size: 1.2rem;
        margin-right: 5px;
    }

    &:before {
        content: "";
        height: 24px;
        width: 15px;
        margin-right: 5px;
        margin-bottom: 2px;
        background: url("/images/score-coin.gif");
    }
}