.base {
    color: var(--text);
    font-family: var(--main-font);
    text-transform: uppercase;
    font-size: 2rem;
}

.wrap {
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: center;

    @media screen and (max-height: 450px) {
        padding-top: 10px;
        height: auto;
    }
}