.block {
    display: flex;
    flex-direction: column;

    &--center {
        align-items: center;

        @media screen and (max-width: 350px) {
            display: none;
        }
    }

    &--right {
        align-items: flex-end;
    }
}