// Resets some styles so it's consistent accross all browers. I've only added the basics in for now, this can be extended later if needed.
html {
    font-size: 62.5%;
}

// Strip all the base padding and margins off of all elements
* {
    padding: 0;
    margin: 0;
}