@font-face {
    font-family: 'press_start_kregular';
    src: url('fonts/prstartk-webfont.woff2') format('woff2'),
    url('fonts/prstartk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'super_plumber_brothersregular';
    src: url('fonts/super_plumber_brothers-webfont.woff2') format('woff2'),
    url('fonts/super_plumber_brothers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}