.base {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

.center {
    justify-content: center;
    align-items: center;
}

.min {
    height: 120px;

    @media screen and (max-height: 450px) {
        height: auto;
    }
}

.full {
    height: 100vh;
    max-height: -webkit-fill-available;
}