.base {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.full {
    width: 100%;
}