/* Colour Vars - Values ripped from old screenshots of the original super mario bros. */

:root {
    --sky: rgba(112, 133, 255, 1);
    --block: rgba(214, 75, 1, 1);
    --text: rgba(253, 255, 250, 1);
    --title: rgba(255, 195, 184, 1);
    --shadow: rgba(8, 3, 5, 1);
    --light-shadow: rgba(255, 195, 184, 1);

    --main-font: 'press_start_kregular';
    --title-font: 'super_plumber_brothersregular';
}